{% extends 'catalog/base.html' %}
{% block title %}GameStore - {{current_user.username}}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('auth.static', filename='auth/css/auth.css')}}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">
        {% if current_user.personal_data.check_if_empty() %}
        <!-- *** user profile are not finished warning *** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="alert alert-warning" role="alert">
              <h4 class="alert-heading">User profile is not finished!</h4>
              <p>It looks like you haven't finalized your profile. To take advantage of all the tools on the site, add your personal information by <a
                  href="{{url_for('auth.edit_profile')}}">clicking here</a></p>
              <hr>
            </div>
          </div>
        </div>
        <!-- *** user profile are not finished warning ends ***-->
        {% endif %}
        <!-- ***** Banner Start ***** -->
        <div class=" row">
          <div class="col-lg-12">
            <div class="main-profile ">
              <div class="row">
                <!-- TODO: Store user images or provide some choice options. Currently, all users have the same image.  -->
                <div class="col-lg-4">
                  <img
                    src="https://cdn.dribbble.com/users/5534/screenshots/14230133/media/e2f853f8232acad78bf143c32f2f3a04.jpg?compress=1&resize=400x300"
                    alt="" style="border-radius: 23px;">
                </div>
                <div class="col-lg-4 align-self-center">
                  <div class="main-info header-text">
                    <h4>{{current_user.username}}</h4>
                    <div class="row">
                      <div class="col">
                        <p>{{current_user.personal_data.first_name}}</p>
                      </div>
                      <div class="col">
                        <p>{{current_user.personal_data.last_name}}</p>
                      </div>
                    </div>
                    <p>{{current_user.email}}</p>
                    <a href="{{url_for('auth.edit_profile')}}">
                      <i class="fa-solid fa-pen-to-square"></i>Edit profile data
                    </a>
                  </div>
                </div>
                <div class="col-lg-4 align-self-center">
                  <ul>
                    <li>Games in account<span>{{current_user.my_games|length}}</span></li>
                    <li>Games in cart<span>{{current_user.user_cart|length}}</span></li>
                    <li>rated games<span>{{current_user.upvotes|length}}</span></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="clips">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="heading-section">
                          <h4><em>Your games in </em> cart</h4>
                        </div>
                      </div>
                      {% if user_cart %}
                      {% for game in user_cart %}
                      <div class="col-lg-3 col-sm-6">
                        <div class="item">
                          <div class="thumb">
                            <img src="{{game['images']['thumb_image']}}" alt="" style="border-radius: 23px;">
                            <a href="{{url_for('catalog.add_to_my_games', game_id=game.game_id)}}"><i class="fa-solid fa-circle-plus fa-2x"></i></a>
                          </div>
                          <div class="down-content">
                            <h4>{{game.name}}</h4>
                            <span><i class="fa-solid fa-dollar-sign"></i> {{game.pricing}}</span>
                            <span><i class="fa fa-download"></i>{{game.downloads}}</li></span>
                          </div>
                        </div>
                        <div class="col-sm-12 remove-cart">
                          <a href="{{url_for('catalog.remove_from_my_cart', game_id=game.game_id, landing_from='profile')}}"><i
                              class="fa-solid fa-circle-xmark"></i></a>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                    {% else %}
                    <div class="col-lg-12">
                      <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Your cart is empty!</h4>
                        <p>It looks like you haven't added any games to your cart. To take advantage of all the tools on the site, add games to your
                          cart by <a href="{{url_for('catalog.home')}}">clicking here</a></p>
                        <hr>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Banner End ***** -->

        <!-- ***** Gaming Library Start ***** -->
        <div class="gaming-library profile-library">
          <div class="col-lg-12">
            <div class="heading-section">
              <h4><em>Your Gaming</em> Library</h4>
            </div>
            {% for game_index in range(user_games|length) %}
            <div class="item">
              <ul>
                <li><img src="{{user_games[game_index]['images']['thumb_image']}}" alt="" class="templatemo-item"></li>
                <li>
                  <h4>{{user_games[game_index]['name']}}</h4><span>{{user_games[game_index]['tags'][0]}}</span>
                </li>
                <li>
                  <h4>Date Added</h4><span>{{current_user.my_games[game_index].added_at}}</span>
                </li>
                {% if current_user.my_games[game_index].is_downloaded %}
                <li>
                  <h4>Currently Downloaded</h4><span>Yes</span>
                </li>
                <li>
                  <div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div>
                </li>
                {% else %}
                <li>
                  <h4>Currently Downloaded</h4><span>No</span>
                </li>
                <li>
                  <div class="main-border-button"><a href="#">Download</a></div>
                </li>
                {% endif %}
              </ul>
            </div>
            {% endfor %}
            {% if not current_user.my_games %}
            <div class="col-lg-12">
              <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Your library is empty!</h4>
                <p>It looks like you haven't added any games to your library. To take advantage of all the tools on the site, add games to your
                  library by <a href="{{url_for('catalog.home')}}">clicking here</a></p>
                <hr>
              </div>
            </div>
            <!-- ***** Gaming Library End ***** -->
            {% endif %}
          </div>
        </div>
        <!-- ***** Products history starts ****** -->
        <div class="clips gaming-library products-history">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4><em>Your</em> Products History</h4>
              </div>
            </div>
            <div class="row">
              {% if user_history %}
              {% for game in user_history %}
              <div class="col-lg-3 col-sm-6">
                <div class="item">
                  <div class="thumb">
                    <img src="{{game['images']['thumb_image']}}" alt="" style="border-radius: 23px;">
                  </div>
                  <div class="down-content">
                    <a href="{{url_for('catalog.details', game_id=game.game_id)}}">
                      <h4>{{game.name}}</h4>
                      <span><i class="fa-solid fa-dollar-sign"></i> {{game.pricing}}</span>
                      <span><i class="fa fa-download"></i>{{game.downloads}}</li></span>
                    </a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% else %}
          <div class="col-lg-12">
            <div class="alert alert-warning" role="alert">
              <h4 class="alert-heading">Your cart is empty!</h4>
              <p>It looks like you haven't added any games to your cart. To take advantage of all the tools on the site, add games to your
                cart by <a href="{{url_for('catalog.home')}}">clicking here</a></p>
              <hr>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>