{% extends 'auth/base.html' %} {%block heading %}
<link
  rel="stylesheet"
  href="{{ url_for('auth.static', filename='auth/css/register-hub.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('auth.static', filename='auth/css/base.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('auth.static', filename='auth/css/style.css') }}"
/>
{% endblock %} {% block content %}

<main class="vh-70">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center card-control">
            <div class="mb-md-5 mt-md-4 pb-5 card-container">
              <h2 class="fw-bold mb-2 text-uppercase">Seus Dados</h2>
              <p class="text-gray-50 mb-5 card-caption">
                Valide seus dados para que ninguém possa acessar ou criar uma
                conta no seu nome.
              </p>
              <div class="form-outline form-white mb-4">
                <div class="card grid-container card-first-item">
                  <div class="card-icon-container">
                    <i class="fa-solid fa-envelope fa-2x card-icon"></i>
                  </div>
                  <div class="card-under-text-container">
                    <h5 class="card-title grid-item">Validar Email</h5>
                  </div>
                  <div class="card-description-container">
                    <p class="card-text grid-item">
                      Ele será usado para recuperar sua conta.
                    </p>
                  </div>
                </div>
                <div class="card grid-container">
                  <div class="card-icon-container">
                    <i class="fa-solid fa-id-card fa-2x card-icon"></i>
                  </div>
                  <div class="card-under-text-container">
                    <h5 class="card-title grid-item">Preencher nome</h5>
                  </div>
                  <div class="card-description-container">
                    <p class="card-text grid-item">
                      Escolha como você quer que te chamemos.
                    </p>
                  </div>
                </div>
                <div class="card grid-container">
                  <div class="card-icon-container">
                    <i class="fa-solid fa-mobile-screen fa-2x card-icon"></i>
                  </div>
                  <div class="card-under-text-container">
                    <h5 class="card-title grid-item">
                      Validate contact number
                    </h5>
                  </div>
                  <div class="card-description-container">
                    <p class="card-text grid-item">
                      It will be used to access your account.
                    </p>
                  </div>
                </div>
                <div class="card grid-container">
                  <div class="card-icon-container">
                    <i class="fa-solid fa-key fa-2x card-icon"></i>
                  </div>
                  <div class="card-under-text-container">
                    <h5 class="card-title grid-item">Create password</h5>
                  </div>
                  <div class="card-description-container">
                    <p class="card-text grid-item">
                      It will be used to access your account.
                    </p>
                  </div>
                </div>
                <div class="button-container">
                  <div class="card-button">
                    <form
                      action="{{url_for('auth.register_email_validation')}}"
                      method="get"
                    >
                      <button
                        type="submit"
                        class="btn btn-primary btn-lg card-button"
                      >
                        Proceed
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="{{url_for('auth.static', filename='auth/scripts/register.js')}}"></script>
{% endblock %}
