{% extends 'auth/base.html' %} {% block heading %}
<link
  rel="stylesheet"
  href="{{ url_for('auth.static', filename='auth/css/base.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('auth.static', filename='auth/css/validate-password.css') }}"
/>
{% endblock %} {% block content %}
<main class="vh-70">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center card-control">
            <div class="mb-md-5 mt-md-4 pb-5 card-container">
              <h2 class="fw-bold mb-2 text-uppercase">Please type password</h2>
              <p class="text-gray-50 mb-5 card-caption">
                You will use it when you need to come back.
              </p>
              <div class="form-outline form-white mb-4">
                <div class="button-container">
                  <div class="card-item">
                    <form method="post" action="">
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control card-input"
                          id="inputPassword"
                          name="password"
                          aria-describedby="inputHelp"
                          autocomplete="off"
                          maxlength="100"
                          required
                          minlength="8"
                        />
                        <div class="help-container">
                          <ul>
                            <li>
                              <span
                                id="inputHelpLength"
                                class="form-text input-helper"
                                name=""
                                >Minimum 8 digits</span
                              >
                            </li>
                            <li>
                              <span
                                id="inputHelpLetters"
                                class="form-text input-helper"
                                >At least one lowercase letter and
                                uppercase</span
                              >
                            </li>
                            <li>
                              <span
                                id="inputHelpSpecialChars"
                                class="form-text input-helper"
                                >At least one character Special</span
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="btn-wrapper">
                        <button
                          type="submit"
                          class="btn btn-primary confirm-button"
                          id="jsDisableButton"
                          disabled="disabled"
                        >
                          Create account
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="{{ url_for('auth.static', filename='auth/scripts/validate-password.js')}}"></script>
{% endblock %}
