{% extends 'catalog/base.html' %}

{% block title %}Game Store - Product Detail {% endblock %}

{% block heading %}
<link rel="stylesheet" href="{{url_for('catalog.static', filename='catalog/css')}}/index.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-content">

        <!-- ***** Featured Start ***** -->
        <div class="row">
          <div class="col-lg-12">
            <div class="feature-banner header-text">
              <div class="row">
                <div class="col-lg-4">
                  <img src="{{game_dict['images']['thumb-image']}}" alt="" style="border-radius: 23px;">
                </div>
                <div class="col-lg-8">
                  <div class="thumb">
                    <img src="{{game_dict['images']['thumb-image-main']}}" alt="" style="border-radius: 23px;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ***** Featured End ***** -->

        <!-- ***** Details Start ***** -->
        <div class="game-details">
          <div class="row">
            <div class="col-lg-12">
              <h2>{{game_dict['name']}}</h2>
            </div>
            <div class="col-lg-12">
              <div class="content">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="left-info">
                      <div class="left">
                        <h4>{{game_dict['name']}}</h4>
                        <span>{{game_dict['tags'][0]}}</span>
                      </div>
                      <ul>
                        <li><i id="product-price" class="fa-solid fa-dollar-sign feature-price"></i>
                          <h4 class="feature-price">{{game_dict["pricing"]}}</h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="right-info">
                      <ul>
                        <li><i class="fa fa-star"></i>{{game_dict['reviews']['stars']}}</li>
                        <li><i class="fa fa-download"></i>{{game_dict['downloads']}}</li>
                        <li><i class="fa fa-gamepad"></i>{{game_dict['tags'][0]}}</li>
                        {% if not is_in_my_upvotes and current_user.is_authenticated %}
                        <li><a href="{{url_for('catalog.upvote', game_id=game_dict['game_id'])}}"><i class="fa-solid fa-up-long"></i>Upvote</li></a>
                        {% elif current_user.is_authenticated %}
                        <li><a href="{{url_for('catalog.downvote', game_id=game_dict['game_id'])}}"><i class="fa-solid fa-down-long"></i>Downvote</li>
                        </a>
                        {% else %}
                        <li><a href="{{url_for('auth.login')}}"><i class="fa-solid fa-up-long"></i>Upvote</li></a>
                        {% endif %}

                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <img src="{{game_dict['images']['details-image1']}}" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                  </div>
                  <div class="col-lg-4">
                    <img src="{{game_dict['images']['details-image2']}}" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                  </div>
                  <div class="col-lg-4">
                    <img src="{{game_dict['images']['details-image3']}}" alt="" style="border-radius: 23px; margin-bottom: 30px;">
                  </div>
                  <div class="col-lg-12">
                    <p>
                      {{game_dict['details']['long_description']}}
                    </p>
                  </div>
                  <div class="col-lg-12">
                    {% if not current_user.is_authenticated %}
                    <div class=" main-border-button">
                      <a href="{{url_for('auth.login')}}">Buy {{game_dict['name']}} now!</a>
                    </div>
                    {% elif is_in_my_games %}
                    <div class="main-border-button border-no-active">
                      <a href="#">You already have this game!</a>
                    </div>
                    {% elif is_in_my_cart %}
                    <div class=" main-border-button">
                      <a href="{{url_for('auth.profile')}}">This game is already in your cart. Check it in your
                        profile</a>
                    </div>
                    {% else %}
                    <div class=" main-border-button">
                      <a href="{{url_for('catalog.add_to_my_cart', game_id=game_dict.game_id)}}">Buy {{game_dict['name']}} now!</a>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** Details End ***** -->

          <!-- ***** Other Start ***** -->
          <div class="other-games">
            <div class="row">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4><em>Other Related</em> Games</h4>
                </div>
              </div>
              {% for game in related_games %}
              <div class="col-lg-6">
                <div class="item">
                  <img src="{{game['images']['thumb_image']}}" alt="" class="templatemo-item">
                  <a href="{{url_for('catalog.details', game_id=game['game_id'])}}" <h4>{{game['name']}}</h4>
                    <span>{{game['tags'][0]}}</span>
                  </a>
                  <ul>
                    <li><i class="fa fa-star"></i>{{game['reviews']['stars']}}</li>
                    <li><i class="fa fa-download"></i>{{game['downloads']}}</li>
                    <li><i class="fa-solid fa-dollar-sign"></i>{{game["pricing"]}}</li>
                  </ul>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- ***** Other End ***** -->

        </div>
      </div>
    </div>
  </div>

  {% endblock %}